# Contents
## 1. What is value
## 2. print () function
## 3. type () function
## 4. Variable
## 5. Variable names and keywords
## 6. Statements
## 7. Operators and operands
## 8. Order of operations
## 9. String operations
## 10. Asking the user for input
## 11. Type Casting
## 12. Comments

# 1. Value

### A value is one of the basic things a program works with, like a letter or a number.
The values could be 1, 2.5, and 'Hello, World!'.

These values belong to different types: 1 is an integer, 2.5 is float and "Hello World" is a string

# 2. print() function

We can print these values using print () function

In [1]:
print (1)

1

In [2]:
print(2.5)

2.5

In [3]:
print ("hello world")

hello world

In [4]:
print ('hello world')

hello world

In [9]:
# print two or more values using single statement

print(1,2,3,4,5)

In [ ]:
# print the name of your country
print("Pakistan")

In [10]:
# print your date of birth
print("12-10-2003")

In [11]:
# print your name, age and height using one print statement
print("Muhammad Zubair",21,5.9)

# 3. type() function

If you are not sure what type a value has, the interpreter can tell you.

In [12]:
type(1)

int

In [13]:
type(2.5)

float

In [14]:
type("hello world")

str

In [4]:
# what will be the type of '5'
print(type('5'))
# what is type of 9.3333333333
print(type(9.3333333333))

<class 'str'>
<class 'float'>

In [1]:
#print the type of (), [], {} 
print(type(()))
print(type([]))
print(type({}))

<class 'tuple'>
<class 'list'>
<class 'dict'>

In [5]:
# what is output of type(range(5))
print(type(range(5)))

<class 'range'>

# 4. Variable

One of the most powerful features of a programming language is the ability to
manipulate variables. 

A variable is a name that refers to a value.

Variables names are case sensitive

In [34]:
# An assignment statement creates new variables and gives them values:
name = "Ahmed"
age = 20
height = 3.5

This example makes three assignments, first assign "Ahmed" to name variable, second assign 20 to age and 3.5 to height

In [ ]:
# to print the name you can use print statement
print(name)

In [ ]:
# print the values of age and height
print(age, height)

In [35]:
# print all three values using single print statement
print(name, age, height)

In [9]:
# What will happen if you print 1 million using following statement
print(1,000,000)
# now search out the way to print 1 million and try it out
print(f"{1000000:,}")

1 0 0
1,000,000

In [11]:
# Store three integers in x,y,z and print them using single print statement.
x = 1
y = 2
z = 3
print(x,y,z)

1 2 3

In [10]:
# var1 = 121.25
# print type of var1
var1 = 121.25
print(type(var1))

<class 'float'>

# 5. Variable names and keywords

Variable names can be arbitrarily long. 
They can contain both letters and numbers,but they have to begin with a letter.
The underscore character (_) can appear in a name.
Variable names can start with an underscore character, but we generally avoid using it unles
we are writing library code for others to use.

In [ ]:
#what will happen
#47name = 'Pakistan'  #invalid syntax
# name@ = 'Pakistan' #invalid syntax
# class = 'Pakistan'  #invalid syntax
#myname = 'kamran'  #valid syntax
#first_val = 10  #valid syntax
#string = 'abc'  #valid syntax

It turns out that class is one of Pythonâ€™s keywords.
The interpreter uses keywords to recognize the structure of the program, and they cannot be used as variable names.

# 6. Statements

A statement is a unit of code that the Python interpreter can execute.
We have seen two kinds of statements: print and assignment.

# 7. Operators and operands

Operators are special symbols that represent computations like addition and multiplication.
The values the operator is applied to are called operands.

In [12]:
# The operators +, -, *, / and ** perform addition, subtraction, multiplication, division,
# exponentiation and modulus operator as in the following examples:
print (20+32, 3-1, 4*5 , 12/6,  5**2, 13%5)

52 2 20 2.0 25 3

In [13]:
# print 200+323-433
print(200+323-433)

90

In [14]:
# print (2+1)*(8-6)
print((2+1)*(8-6))

6

In [15]:
# print no of bytes in 1KB using exponentiation operator
print(2**10)

1024

In [19]:
# print(2*3**3*4)
print(2*3**3*4)   # 2*27*4 = 216*4 = 864

216

# 8. Expressions

An expression is a combination of values, variables, and operators.

Assignement: type the following statements in the Python interpreter to see what
they do:
5
x = 5
x + 1

In [20]:
# execute the following statements and see the output
5
x = 5
x + 1

6

In [23]:
# what is output of
# y = 10
# x = y+=2
# print(x)
# Output invalid syntax

In [24]:
# Store three integers in x,y,z and print their sum and product.
x = 1
y = 2
z = 4
print(x+y+z, x*y*z)

7 8

# 9. Order of operations

When more than one operator appears in an expression, the order of evaluation
depends on the rules of precedence. 
For mathematical operators, Python follows mathematical convention. 
The acronym PEMDAS is a useful way to remember the rules:
1. Parentheses
2. Exponentiation
3. Multiplication and Division
4. Addition and Subtraction
Operators with the same precedence are evaluated from left to right.

In [ ]:
# write output of the following commands without excuting it
# print (2*(3-1))    # 4
# print ((1+1)**(5-2))    # 8
# print (2**1+1)     # 3
# print (3*1**3)    # 3

# 10. String operations

In [56]:
first = 10
second = 20
print (first + second)

30

In [57]:
first = '10'
second = '20'
print (first + second)

1020

In [58]:
print ("hello" * 3 )

hellohellohello

In [63]:
# print your name 10 times
print("Muhammad Zubair" * 10)

In [25]:
# What is output of var="James"*2*3
var="James"*2*3
print(var)

JamesJamesJamesJamesJamesJames

# 11. Asking the user for input

In [64]:
name = input("please enter name: ")
print (name)

please enter name: aqs
aqs

In [27]:
# wirte a program which take age from user and concate it three time
age = input("please enter your age: ")*3
print(age)

212121

In [28]:
# Write a program to accept two numbers from the user and calculate multiplication.
num1 = int(input("please enter first number: "))
num2 = int(input("please enter second number: "))
print(num1*num2)

276

In [29]:
# modify this code so that it prints 121212 instead of 36
# age=12
# print(age*3)
age='12'
print(age*3)

121212

# 12. Type Casting

In [31]:
a = '10'
print (a)

10

In [32]:
# int(a)
str(a)

'10'

In [33]:
# take an integer from user and multiply it with 15
num = int(input("please enter a number: "))*15
print(num)

345

In [34]:
# num_int = 123
# num_str = "456"
# Find the sum of these 2 variables
num_int = 123
num_str = "456"
print(num_int+int(num_str))

579

# 13. Comments

In [ ]:
# here is comments

# Exercise

Write a program that uses raw_input to prompt a user for their name and then welcomes them.

Enter your name: Chuck
Hello Chuck

In [35]:
name = input("Enter your name: ")
print("Hello", name)

Hello Zubair

Write a program to prompt the user for hours and rate per hour to
compute gross pay.

Enter Hours: 35
Enter Rate: 2.75
Pay: 96.25

In [36]:
hours = int(input("Enter Hours: "))
rate = float(input("Enter Rate: "))
print("Pay:", hours*rate)

Pay: 96.25

Assume that we execute the following assignment statements:
width = 17
height = 12.0

For each of the following expressions, write the value of the expression and the
type (of the value of the expression).

1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5

Use the Python interpreter to check your answers.


width/2      # 8.5  float
width/2.0    # 8.5  float
height/3     # 4.0  float
1+2*5        # 11   int

Write a program which prompts the user for a Celsius temperature,
convert the temperature to Fahrenheit and print out the converted temperature.

In [38]:
cel = float(input("Enter temperature in Celsius: "))
fah = cel * 9/5 + 32
print("Temperature in Fahrenheit:", fah)

Temperature in Fahrenheit: 253.4