# Contents
## 1. A list is a sequence
## 2. Lists are mutable
## 3. in operator
## 4. Traversing a list
## 5. List operations
## 6. List slices
## 7. List methods
## 8. Deleting elements
## 9. built-in functions
## 10. Lists and strings
## 11. Objects and values
## 12. List arguments

# 1. A list is a sequence

Like a string, a list is a sequence of values. 
In a string, the values are characters; in a list, they can be any type. 
The values in list are called elements or sometimes items.

In [1]:
lst1 = [10, 20, 30, 40]

In [3]:
lst1

[10, 20, 30, 40]

In [2]:
lst2 = ['crunchy frog', 'ram bladder', 'lark vomit']

In [4]:
lst2

['crunchy frog', 'ram bladder', 'lark vomit']

In [5]:
lst3 = ['spam', 2.0, 5, [10, 20]]

In [8]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
numbers = [17, 123]
empty = []
print (cheeses, numbers, empty)

['Cheddar', 'Edam', 'Gouda'] [17, 123] []

In [1]:
# Write a function to sum all the items in a list , given the items in the list is integer
def sum_list(lst):
    return sum(lst)
lst = [1, 2, 3, 4, 5]
print(sum_list(lst))

15

In [4]:
# Write a function that takes two lists and returns true if they have at least one common member
def common_member(lst1, lst2):
    for i in lst1:
        if i in lst2:
            return True
    return False
lst1 = [1, 2, 3, 4, 5]
lst2 = [5, 6, 7, 8]
print(common_member(lst1, lst2))

True

# 2. Lists are mutable

The syntax for accessing the elements of a list is the same as for accessing the characters of a string—the bracket operator. 
The expression inside the brackets specifies the index. 
Remember that the indices start at 0:

In [10]:
print (cheeses[0])

Cheddar

Unlike strings, lists are mutable because you can change the order of items in a list or reassign an item in a list. 
When the bracket operator appears on the left side of an assignment, it identifies the element of the list that will be assigned.

In [11]:
numbers

[17, 123]

In [12]:
numbers[1] = 5

In [13]:
print (numbers)

[17, 5]

# 3. in operator

In [14]:
'Edam' in cheeses

True

In [15]:
'Adam' in cheeses

False

# 4. Traversing a list

In [17]:
for cheese in cheeses:
    print (cheese)

Cheddar
Edam
Gouda

In [18]:
# range returns a list of indices from 0 to n−1, where n is the length of the list.
for i in range(len(numbers)):
    numbers[i] = numbers[i] * 2

In [19]:
print(numbers)

[34, 10]

In [5]:
# Suppose you have two Python list. Write a program to iterate both lists simultaneously and display items from list1 in original order and items from list2 in reverse order.

list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400] 

for i in range(min(len(list1), len(list2))):
    print(list1[i], list2[len(list2) - i - 1])

10 400
20 300
30 200
40 100

# 5. List operations

In [1]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print (c)

[1, 2, 3, 4, 5, 6]

In [2]:
[0] * 4

[0, 0, 0, 0]

# 6. List slices

In [22]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3]

['b', 'c']

In [23]:
t[:4]

['a', 'b', 'c', 'd']

In [24]:
t[3:]

['d', 'e', 'f']

In [25]:
t[:]

['a', 'b', 'c', 'd', 'e', 'f']

In [26]:
# A slice operator on the left side of an assignment can update multiple elements:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3] = ['x', 'y']
print(t)

['a', 'x', 'y', 'd', 'e', 'f']

# 7. List methods

In [27]:
# append adds a new element to the end of a list:
t = ['a', 'b', 'c']
t.append('d')
print(t)

['a', 'b', 'c', 'd']

In [28]:
# extend takes a list as an argument and appends all of the elements:
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2)
print (t1)

['a', 'b', 'c', 'd', 'e']

In [29]:
# sort arranges the elements of the list from low to high:
t = ['d', 'c', 'e', 'b', 'a']
t.sort()
print(t)

['a', 'b', 'c', 'd', 'e']

Most list methods are void; they modify the list and return None. 
If you accidentally write t = t.sort(), you will be disappointed with the result.

# 8. Deleting elements

There are several ways to delete elements from a list. 
If you know the index of the element you want, you can use pop:

In [30]:
t = ['a', 'b', 'c']
x = t.pop(1)
print (t)
print (x)

['a', 'c']
b

pop modifies the list and returns the element that was removed. 
If you don’t provide an index, it deletes and returns the last element.

In [31]:
# If you don’t need the removed value, you can use the del operator:
t = ['a', 'b', 'c']
del t[1]
print (t)

['a', 'c']

In [32]:
# If you know the element you want to remove (but not the index), you can use remove:
t = ['a', 'b', 'c','b']
t.remove('b') # The return value from remove is None
print (t)

['a', 'c', 'b']

In [33]:
# To remove more than one element, you can use del with a slice index:
t = ['a', 'b', 'c', 'd', 'e', 'f']
del t[1:5]
print (t)

['a', 'f']

In [6]:
# Write a program to remove an empty string from list of strings 
lst = ["a", "b", "", "c", "d", "", "e"]
for i in lst:
    if i == "":
        lst.remove(i)
print (lst)

['a', 'b', 'c', 'd', 'e']

In [7]:
# Write a program to print the numbers of a specified list after removing even numbers from it.
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for i in lst:
    if i % 2 == 0:
        lst.remove(i)
print (lst)

[1, 3, 5, 7, 9]

# 9. built-in functions

In [8]:
nums = [3, 41, 12, 9, 74, 15]
print (len(nums))
print (max(nums))
print (min(nums))
print (sum(nums))

6
74
3
154

In [9]:
# how we can compute average?
print (sum(nums)/len(nums))

25.666666666666668

In [10]:
# How can we compute the total length of the list?
print(len(nums))

6

# 10. Lists and strings

In [36]:
s = 'spam'
t = list(s)
print (t)

['s', 'p', 'a', 'm']

In [37]:
s = 'pining for the fjords'
t = s.split()
print (t)

['pining', 'for', 'the', 'fjords']

In [39]:
# You can call split with an optional argument called a delimiter specifies which
# characters to use as word boundaries.
s = 'spam-spam-spam'
delimiter = '-'
print (s.split(delimiter))

['spam', 'spam', 'spam']

In [42]:
# join is the inverse of split
t = ['pining', 'for', 'the', 'fjords']
delimiter = ' '
print(delimiter.join(t))

pining for the fjords

# 11. Objects and values

In [43]:
# If we execute these assignment statements:
a = 'banana'
b = 'banana'

We know that a and b both refer to a string, but we don’t know whether they refer
to the same string. There are two possible states:

In one case, a and b refer to two different objects that have the same value. 

In the second case, they refer to the same object.

<img src="L7string.png">

In [45]:
# To check whether two variables refer to the same object, you can use the is operator.
a is b

True

In [46]:
# In this example, Python only created one string object, and both a and b refer to it.
# But when you create two lists, you get two objects:
a = [1, 2, 3]
b = [1, 2, 3]
a is b

False

In this case we would say that the two lists are equivalent, because they have the
same elements, but not identical, because they are not the same object. 

If two objects are identical, they are also equivalent, but if they are equivalent, they are not necessarily identical.

In [47]:
a == b

True

### Aliasing

In [48]:
#If a refers to an object and you assign b = a, then both variables refer to the same object:
a = [1, 2, 3]
b = a
b is a

True

The association of a variable with an object is called a reference. 
In this example, there are two references to the same object.
An object with more than one reference has more than one name, so we say that the object is aliased.
If the aliased object is mutable, changes made with one alias affect the other:

In [49]:
a[1] = 10
print (b[1])

10

Although this behavior can be useful, it is error-prone. 
In general, it is safer to avoid aliasing when you are working with mutable objects.
For immutable objects like strings, aliasing is not as much of a problem.

# 12. List arguments

When you pass a list to a function, the function gets a reference to the list. 
If the function modifies a list parameter, the caller sees the change. 
For example, delete_head removes the first element from a list:

In [50]:
def delete_head(t):
    del t[0]

In [51]:
letters = ['a', 'b', 'c']
delete_head(letters)
print (letters)

['b', 'c']

The parameter t and the variable letters are aliases for the same object.

It is important to distinguish between operations that modify lists and operations
that create new lists. 
For example, the append method modifies a list, but the + operator creates a new list:

In [52]:
t1 = [1, 2]
t2 = t1.append(3)
print (t1)
print (t2)

[1, 2, 3]
None

In [54]:
t1 = [1, 2]
t3 = t1 + [3]
print (t1)
print (t3)

[1, 2]
[1, 2, 3]

In [55]:
t2 is t3

False

In [57]:
# This difference is important when you write functions that are supposed to modify lists. 
# For example, this function does not delete the head of a list:
def bad_delete_head(t):
    t = t[1:]        # WRONG!

In [60]:
# The slice operator creates a new list and the assignment makes t refer to it, but
# none of that has any effect on the list that was passed as an argument.
letters = ['a', 'b', 'c']
bad_delete_head(letters)
print (letters)

['a', 'b', 'c']

In [61]:
# An alternative is to write a function that creates and returns a new list. For example,
# tail returns all but the first element of a list:
def tail(t):
    return t[1:]

In [62]:
# This function leaves the original list unmodified. Here’s how it is used:
letters = ['a', 'b', 'c']
rest = tail(letters)
print (rest)
print (letters)

['b', 'c']
['a', 'b', 'c']